:root {
    --darkest_orange: rgb(167, 93, 93);
    --dark_orange: rgb(211, 117, 107);
    --orange: rgb(240, 153, 125);
    --light_orange: rgb(255, 195, 161);

    --shadow: 2px 1px black;
    --shadow-white: 2px 1px white;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--darkest_orange);
}

.navbar {
    margin: 0;
    padding: 10px;

    background-color: var(--dark_orange);
    border-bottom: 2px solid black;
}

.navbar li {
    padding-left: 10px;

    list-style: none;
    display: inline;
}

.navbar a {
    padding: 5px;

    color: white;
    text-decoration: none;

    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-shadow: var(--shadow);
}

.navbar a:hover {
    background-color: var(--light_orange);
    border-radius: 5px;
}

#title {
    margin: 0;
    padding: 30px;


    background-color: var(--darkest_orange);
}

#title h1 {
    margin-top: 0;
    padding: 25px;

    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}

#title p {
    color: white;
    text-shadow: var(--shadow);

    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;

    text-align: center;
}

#member_mid {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#member_list {
    margin: 0;
    padding: 0;

    list-style: none;
    

    width: max-content;
}

#member_list li {
    text-align: center;

    margin: 5px;
    padding: 10px;
    border: 3px solid black;
    background-color: var(--dark_orange);
}